body {
  overflow-x: hidden;
}
/* Slideshow */
.slideshow {
  position: relative;
  height: 500px; /* Atur tinggi slideshow sesuai kebutuhan */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 20px;
  color: rgb(30, 29, 29);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
/* Gambar */

.image-container {
  display: flex;
  justify-content: space-between;
  margin: 1mm 0;
}

.image-container img {
  object-fit: cover;
  max-height: 500px; /* Atur tinggi maksimum gambar */
}

.image-container.zoom-out img {
  transform-origin: center center;
  transform: scale(0.9); /* Mengubah ukuran gambar saat zoom out */
}

/* text-container */
.text-container {
  text-align: center;
  padding: 20px 0;
}

#best-sellers {
  font-family: "Arial", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #333;
  display: inline-block;
  padding-bottom: 10px;
}
/* product */
.product-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px 0;
}

.product {
  width: calc(25% - 1cm);
  text-align: center;
  margin-bottom: 20px;
}

.product a {
  text-decoration: none;
  color: #333;
  display: block;
  transition: transform 0.3s ease;
}

.product a:hover {
  transform: scale(1.1);
}

.product-image {
  width: 321px;
  height: 428px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-title {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: left;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: orange;
  text-align: left;
}
/* Header */
.sticky-header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 40px; /* Sesuaikan ukuran gambar sesuai kebutuhan */
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #888888;
}

/* footer */
footer {
  margin-top: auto;
  background-color: #f8f8f8;
  padding: 20px;
  color: #383838;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  width: 250px;
  margin: 20px;
}

.column h4 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}

.address, .phone, .email {
  margin-bottom: 10px;
  text-align: left;
}

.social-icons a {
  color: #757575;
  font-size: 24px;
  margin-right: 10px;
}

.social-icons a:hover {
  color: #FF6600;
}
/* wa */
.whatsapp-float {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  background-color: #25D366;
  color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  font-size: 80px;
  line-height: 120px;
  transition: background-color 0.3s;
}

.whatsapp-float:hover {
  background-color: #128C7E;
}